<div class="avatar_container" style="--size:@Size;--sizepx:@(Size + "px")">
    @if (IsHost)
    {
        <div class="crown"></div>
    }
    <div class="avatar avatar_background" style="background-position: @GetBackground()"></div>
    <div class="avatar avatar_face" style="background-position: @GetPositionOneCol(Face)"></div>
    <div class="avatar avatar_cloth" style="background-position: @GetCloth()"></div>
    <div class="avatar avatar_hair" style="background-position: @GetPositionOneCol(Hair)"></div>
    <div class="avatar avatar_mouth" style="background-position: @GetPositionOneCol(Mouth)"></div>
    <div class="avatar avatar_eye" style="background-position: @GetEye()"></div>
    @if (Controls != null)
    {
        @Controls
    }
</div>