@page "/"

<div class="col-sm-12 col-md-8 col-xl-4 center-block">
    <div class="card primary rounded-0 h-100">
        <EditForm Model="@_user" OnValidSubmit="@Submit">
            <div class="container container-fluid">
                <div class="row align-items-center">
                    <div class="col-6 d-flex justify-content-center flex-wrap">
                        <Avatar Background="@_user.Avatar.Background" Gender="@_user.Avatar.Gender" Face="@_user.Avatar.Face" Eye="@_user.Avatar.Eye" Hair="@_user.Avatar.Hair" Mouth="@_user.Avatar.Mouth" Cloth="@_user.Avatar.Cloth" Size="150"></Avatar>
                    </div>
                    <div class="col-6 d-flex text-center">
                        <div class="container">
                            <div class="row align-items-center">
                                <button type="button" class="col-1 offset-4 icon-male male" @onclick='() => SetAvatarProperty("Gender", 0)'></button>
                                <button type="button" class="col-1 icon-female female" @onclick='() => SetAvatarProperty("Gender", 1)'></button>
                            </div>
                            @foreach(KeyValuePair<string, string> control in new Dictionary<string, string>
                            {
                                {"Background", "Tło"},
                                {"Face", "Skóra"},
                                {"Hair", "Włosy"},
                                {"Eye", "Oczy"},
                                {"Mouth", "Usta"},
                                {"Cloth", "Ubranie"},
                            })
                            {
                                <div class="row align-items-center">
                                    <button type="button" class="col icon-left-arrow" @onclick='() => Decrease(control.Key)'></button>
                                    <span class="col controlLabel">@control.Value</span> 
                                    <button type="button" class="col icon-right-arrow" @onclick='() => Increase(control.Key)'></button>
                                </div>                              
                            }
                        </div>
                    </div>
                </div>
            </div>

            <DataAnnotationsValidator/>
            <div class="form-group">
                <label for="name"></label>
                <InputText id="name" @bind-Value="_user.Name" class="form-control" placeholder="Nazwa użytkownika"/>
                <ValidationMessage For="() => _user.Name"/>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn secondary mt-2" type="submit">Wejdź</button>
            </div>
        </EditForm>
    </div>
</div>