@page "/lobby"

<div class="col-12 text-center">
    <button class="btn secondary" @onclick="CreateRoomDialog">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        <span style="vertical-align: middle;">Stwórz pokój</span>
    </button>
</div>
<div class="col-sm-12 col-md-10 col-xl-6 center-block">
    @foreach (var id in _roomList.Keys)
    {
        <div class="card room primary mt-2 rounded-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 my-auto">
                        @_roomList[id].Name
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <div><span class="infolabel">Graczy: </span>@_roomList[id].UsersOnline/@_roomList[id].Slots</div>
                        <div><span class="infolabel">Talia kart: </span>@_roomList[id].CardsCount</div>
                        <div><span class="infolabel">Max. punktów: </span>@_roomList[id].MaxScore</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<Modal @ref="_modal">
    <Title>Tworzenie pokoju</Title>
    <Body>
            <EditForm Model="@CreateRoomForm" OnValidSubmit="@CreateRoom">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label for="name">Nazwa pokoju</label>
                    <InputText id="name" @bind-Value="CreateRoomForm.Name" class="form-control" />
                    <ValidationMessage For="()=> CreateRoomForm.Name" />
                </div>
                <div class="form-group">
                    <label for="slots" class="form-label">Liczba graczy: @CreateRoomForm.Slots</label>
                    <input type="range" min="2" max="20" class="form-range" id="slots" style="width: 100%;" value="@CreateRoomForm.Slots" @oninput="@((args) => @CreateRoomForm.Slots = Convert.ToInt32( args.Value))">
                    <ValidationMessage For="()=> CreateRoomForm.Slots" />
                </div>                
                 <div class="form-group">
                     <label for="score" class="form-label">Liczba punktów: @CreateRoomForm.MaxScore</label>
                     <input type="range" min="5" max="100" class="form-range" id="score" style="width: 100%;" value="@CreateRoomForm.MaxScore" @oninput="@((args) => @CreateRoomForm.MaxScore = Convert.ToInt32( args.Value))">
                     <ValidationMessage For="()=> CreateRoomForm.MaxScore" />
                </div>    
              <button class="btn secondary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>
                      <span style="vertical-align: middle;">Stwórz</span>
                  </button>          
            </EditForm>
    </Body>
    <Footer>

    </Footer>
</Modal>