@page "/lobby"

<div class="col-12 text-center p-2">
    <button class="btn secondary" @onclick="CreateRoomDialog">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        <span style="vertical-align: middle;">@Localization["CreateRoom"]</span>
    </button>
</div>
<div class="col-sm-12 col-md-8 col-xl-4 center-block">
    @foreach (var id in _roomList.Keys)
    {
        <div class="card room primary mt-2 rounded-0" @onclick="@(() => JoinRoom(id))">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 my-auto">
                        @_roomList[id].Name
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <div><span class="infolabel">@Localization["Players"]: </span>@_roomList[id].UsersOnline/@_roomList[id].Settings.Slots</div>
                        <div><span class="infolabel">Max. @Localization["Scores"]: </span>@_roomList[id].Settings.MaxScore</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<Modal @ref="_modal">
    <Title>Tworzenie pokoju</Title>
    <Body>
            <EditForm Model="@_createRoomForm" OnValidSubmit="@CreateRoom">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label for="name">@Localization["RoomName"]</label>
                    <InputText id="name" @bind-Value="_createRoomForm.Name" class="form-control" />
                    <ValidationMessage For="()=> _createRoomForm.Name" />
                </div>
                <div class="text-center">
                    <button class="btn secondary m-2">
                       <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                           <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                       </svg>
                       <span style="vertical-align: middle;">@Localization["Create"]</span>
                   </button>                     
                </div>
            </EditForm>
    </Body>
</Modal>