@page "/room/{RoomId}"
@using pixit.Shared.Models

@if (State.Room?.Users?.Count > 0)
{
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center roomName pt-4 pb-4 mb-4">@State.Room.Name</div>
        <div class="col-9 text-center">
            <div class="d-flex flex-row justify-content-center flex-wrap">

                @foreach (UserModel user in State.Room?.Users)
                {
                    <div class="player-container">
                        <Avatar IsHost="@(State.Room.HostId == user.Id)" Background="@user.Avatar.Background" Cloth="@user.Avatar.Cloth" Eye="@user.Avatar.Eye" Face="@user.Avatar.Face" Gender="@user.Avatar.Gender" Hair="@user.Avatar.Hair" Mouth="@user.Avatar.Mouth" Size="150">
                            <Controls>
                                @if (State.UserId == State.Room.HostId)
                                {
                                    <div class="controls">
                                        <button type="button" class="icon-kick" @onclick="@(() => KickUser(user.Id))"></button>
                                    </div>
                                }
                            </Controls>
                        </Avatar>
                        <div>@user.Name</div>
                    </div>
                }
            </div>
        </div>
        <div class="col-3 text-center p-4">
            <div class="form-group">
                <label for="slots" class="form-label">Liczba graczy: @State.Room.Settings.Slots</label>
                <input type="range" min="@(State.Room.UsersOnline > 3 ? State.Room.UsersOnline : 3)" max="20" class="form-range" id="slots" value="@State.Room.Settings.Slots" @oninput="@((args) => State.Room.Settings.Slots = Convert.ToInt16(args.Value))" @onchange="UpdateSettings" disabled="@(State.Room.HostId != State.UserId)">
            </div>
            <div class="form-group mt-4">
                <label for="score" class="form-label">Liczba punktów: @State.Room.Settings.MaxScore</label>
                <input type="range" min="5" max="100" class="form-range" id="score" value="@State.Room.Settings.MaxScore" @oninput="@((args) => State.Room.Settings.MaxScore = Convert.ToInt16(args.Value))" @onchange="UpdateSettings" disabled="@(State.Room.HostId != State.UserId)">
            </div>
            <div class="form-group mt-4">
                <button disabled="@(State.Room.HostId != State.UserId || State.Room.UsersOnline < 3)" @onclick="StartGame">Rozpocznij grę</button>
            </div>
        </div>
    </div>
</div>
}